
.formulario{
    margin-top: 5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    font-family: 'Onest', sans-serif;
    font-size: 4vw;
}
.formulario img{
    width: 12vw;
    border-radius: 80%;
   
}
.formulario input{
    width: 300px; 
    padding: 15px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-shadow: 2px 2px 4px rgba(5, 4, 4, 0.2); 
    transition: box-shadow 0.3s; 
    margin: 0.5vw;
   font-size: 1vw;
}
.formulario input:hover{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
.formulario input:focus{
    outline: none;
    
}
.formulario button{
    width: 12vw;
    background-color: #0074d9; 
    color: #fff; 
    padding: 10px 20px;
    margin-top: 8px;
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s; 
}
.formulario button:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); 
}
.formulario .recuperar__contraseña{
    display: flex;
    font-size: 16px;
    flex-direction: column;
    width: 25%;
    text-align: center;
    margin-top: 10px;
}
.formulario .recuperar__contraseña a{
    color: initial;
    margin: 5px;
    text-decoration: none;
    font-weight: bold;

    
}
.formulario .recuperar__contraseña a:hover{
    color: rgb(143, 0, 0);
    
}
section ul{
   padding: 0;
   margin: 0px;
   margin-left: 26vw;
    list-style: none;
    width: 50vw;

}
.error{
    text-align: start;
    font-size: 16px;
    color: red;
    font-family: 'Onest', sans-serif;
    text-decoration: none;
    font-weight: 800;
}


/* Home */

.main{
    height: 100vh;
    align-items: center;
    justify-content: center;
    
}

.panel-container{
    width: 130vw;
}

.panel-container section{
    display: flex;
    flex-direction: column;
}
.section-general{
    display: flex;
    justify-content: space-between;
}

.panel-general{
    width: 400px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 1px 2px #9e9d9d;
}

.item{
  width: 200px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 1px 2px #9e9d9d;
}

.btn-danger{
    margin-left: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4%;
    height: 18%;
    color: white;
    margin-bottom: 10px;
}
.btn-danger svg:hover{
    stroke: black;
    cursor: pointer;
    color: black;
}

.section-general{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-general div{
  padding: 10px;
  border: 1px solid rgb(206, 201, 201);
}

.section-venta-stock{
    width: 100%;
    display: flex;
}
.section-venta-stock div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

.section-venta-stock div div{
  border: 1px rgb(206, 201, 201) solid;
  margin: 20px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 2px #9e9d9d;
}

.section-venta-stock button{
  width: 200px;
}

.shadow{
    border: none;
}

.search-bar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    text-align: center;
  }
  .search-bar label{
    font-weight: bold;
    font-size: 19px;
    margin: 15px;
  }
  .search-input {
    width: 300px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  .search-input:focus {
    outline: none;
  }
  .search-button {
    margin-left: 10px;
    background-color: #007BFF; 
    color: white; 
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; 
  }
  
  .search-button:hover {
    background-color: #0056b3; 
  }

  .results-search {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5; 
    padding: 5px;
    border-radius: 5px;
  }
  
  .product-table {
    flex-direction: column;
    width: 100%;
    border-collapse: collapse;

  }
  
  .product-table th, .product-table td {
    border: 1px solid #ddd; /* Borde ligero alrededor de las celdas */
    padding: 8px;
    text-align: left;
  }
  
  .product-table th {
    background-color: #333; /* Color de fondo para encabezados */
    color: white;
  }
  
  .product-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Color de fondo para filas pares */
  }
  
  .product-table tr:hover {
    background-color: #ddd; /* Color de fondo al pasar el mouse por una fila */
  }
  .btn-eliminar{
   
    background-color: #dc3545; 
    color: white; 
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; 
  }

  .container{
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 20px #ddd;
    border-radius: 4px;
  }

  .container section{
    min-height: 130px;
    border-top: solid 1px #ddd;
  }

  .section-show-results{
    padding: 40px;
  }

  .section-pagos div{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }