
.formulario{
    margin-top: 5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    font-family: 'Onest', sans-serif;
    font-size: 4vw;
}
.formulario img{
    width: 12vw;
    border-radius: 80%;
   
}
.formulario input{
    width: 300px; 
    padding: 15px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-shadow: 2px 2px 4px rgba(5, 4, 4, 0.2); 
    transition: box-shadow 0.3s; 
    margin: 0.5vw;
   font-size: 1vw;
}
.formulario input:hover{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
.formulario input:focus{
    outline: none;
    
}
.formulario button{
    width: 12vw;
    background-color: #0074d9; 
    color: #fff; 
    padding: 10px 20px;
    margin-top: 8px;
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s; 
}
.formulario button:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); 
}
.formulario .recuperar__contraseña{
    display: flex;
    font-size: 16px;
    flex-direction: column;
    width: 25%;
    text-align: center;
    margin-top: 10px;
}
.formulario .recuperar__contraseña a{
    color: initial;
    margin: 5px;
    text-decoration: none;
    font-weight: bold;

    
}
.formulario .recuperar__contraseña a:hover{
    color: rgb(143, 0, 0);
    
}
section ul{
   padding: 0;
   margin: 0px;
   margin-left: 26vw;
    list-style: none;
    width: 50vw;

}
.error{
    text-align: start;
    font-size: 16px;
    color: red;
    font-family: 'Onest', sans-serif;
    text-decoration: none;
    font-weight: 800;
}

/* Home */

#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.panel-container{
    width: 850px;
    height: 600px;

}

.panel-general{
    width: 400px;
    text-align: center;
}